.App {
    text-align: center;
    margin: 10px;
}

.Navigation {
    list-style: none;
}

.Navigation li {
    display: inline-block;
}

.Navigation li a {
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
}

.Navigation li a.active {
    background-color: black;
    color: white;
}

.Navigation li a:hover,
.Navigation li a:active {
    background-color: rgba(0,0,0,.5);
    color: white;
}

.Courses {
    /*placeholder*/
}

.Course {
    border: 2px black solid;
    margin: 5px auto;
    width: 80vw;
    padding: 10px;
}

.Link {
    display: block;
    border: 2px black solid;
    margin: 5px auto;
    width: 80vw;
    padding: 10px;
}